<header class="header" id="header">
 <div class="container header-inner">
  <a class="logo" href="index.html">
   <div class="logo-icon">
    <img alt="&Lcy;&icy;&dcy;&acy;-&Scy;&iecy;&rcy;&vcy;&icy;&scy; &lcy;&ocy;&gcy;&ocy;&tcy;&icy;&pcy;" src="img/logo.png"/>
   </div>
   <div class="logo-text">
    <span class="logo-name">
     &Lcy;&Icy;&Dcy;&Acy;-&Scy;&IEcy;&Rcy;&Vcy;&Icy;&Scy;
    </span>
    <span class="logo-sub">
     &lcy;&icy;&zcy;&icy;&ncy;&gcy;&ocy;&vcy;&acy;&yacy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy;
    </span>
   </div>
  </a>
  <nav class="nav">
   <a href="index.html">
    &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
   </a>
   <a href="index.html#about">
    &Ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
   </a>
   <a href="index.html#types">
    &Vcy;&icy;&dcy;&ycy; &lcy;&icy;&zcy;&icy;&ncy;&gcy;&acy;
   </a>
   <a href="index.html#conditions">
    &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &scy;&dcy;&iecy;&lcy;&kcy;&icy;
   </a>
   <a href="index.html#contacts">
    &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
   </a>
  </nav>
  <a class="header-phone" href="tel:+375154659775">
   <i class="fas fa-phone">
   </i>
   8 (0154) 65-97-75
  </a>
  <a class="btn btn-primary header-btn" href="index.html#form">
   &Ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy;
  </a>
  <button aria-label="&Mcy;&iecy;&ncy;&yucy;" class="burger" id="burger">
   <span>
   </span>
   <span>
   </span>
   <span>
   </span>
  </button>
 </div>
 <div class="mobile-nav" id="mobileNav">
  <a href="index.html">
   &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
  </a>
  <a href="index.html#about">
   &Ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
  </a>
  <a href="index.html#types">
   &Vcy;&icy;&dcy;&ycy; &lcy;&icy;&zcy;&icy;&ncy;&gcy;&acy;
  </a>
  <a href="index.html#conditions">
   &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &scy;&dcy;&iecy;&lcy;&kcy;&icy;
  </a>
  <a href="index.html#contacts">
   &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
  </a>
  <a class="btn btn-primary" href="index.html#form" style="margin-top:16px;width:100%">
   &Ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy;
  </a>
 </div>
</header>
